.vs
.idea
Bussiness/bin
Center.Server/bin
Center.Service/bin
Center.Service/bin/Release/*
Center.Service/bin/Debug/*
!Center.Service/bin/Debug/Languages
!Center.Service/bin/Debug/logs
Center.Service/bin/Debug/logs/*
!Center.Service/bin/Debug/map
!Center.Service/bin/Debug/scripts
!Center.Service/bin/Debug/log4net.xml
!Center.Service/bin/Debug/logconfig.xml
!Center.Service/bin/Debug/protobuf-net.xml
Fighting.Server/bin
Fighting.Service/bin
Fighting.Service/bin/Release/*
Fighting.Service/bin/Debug/*
!Fighting.Service/bin/Debug/bomb
!Fighting.Service/bin/Debug/Languages
!Fighting.Service/bin/Debug/logs
Fighting.Service/bin/Debug/logs/*
!Fighting.Service/bin/Debug/map
!Fighting.Service/bin/Debug/scripts
!Fighting.Service/bin/Debug/log4net.xml
!Fighting.Service/bin/Debug/logconfig.xml
!Fighting.Service/bin/Debug/protobuf-net.xml
Game.Base/bin
Game.Logic/bin
Game.Server/bin
Road.Flash/bin
Road.Service/bin
Road.Service/bin/Release/*
Road.Service/bin/Debug/*
!Road.Service/bin/Debug/bomb
!Road.Service/bin/Debug/datas
!Road.Service/bin/Debug/Languages
!Road.Service/bin/Debug/logs
Road.Service/bin/Debug/logs/*
!Road.Service/bin/Debug/map
!Road.Service/bin/Debug/scripts
!Road.Service/bin/Debug/xmls
!Road.Service/bin/Debug/battle.xml
!Road.Service/bin/Debug/log4net.xml
!Road.Service/bin/Debug/logconfig.xml
!Road.Service/bin/Debug/protobuf-net.xml
SqlDataProvider/bin
Tank.Flash/bin
Tank.Request/bin
Bussiness/obj
Center.Server/obj
Fighting.Server/obj
Game.Base/obj
Game.Logic/obj
Game.Server/obj
Road.Flash/obj
Road.Service/obj
SqlDataProvider/obj
Tank.Flash/obj
Tank.Request/obj
Center.Service/obj
Fighting.Service/obj
Request/bin
Request/obj
