<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IP" value="127.0.0.1"/>
		<add key="Port" value="9308"/>
		<add key="GP_RATE" value="0"/>
		<add key="TimeForLeague" value="19:30|21:30"/>
		<add key="LeagueMoney_Lose" value="3"/>
		<add key="LeagueMoney_Win" value="8"/>
		<add key="Gold_Rate" value="0"/>
		<add key="Gift_Rate" value="0"/>
		<!-- Add Money -->
		<add key="MONEY_MIN_RATE_LOSE" value="50"/>
		<add key="MONEY_MAX_RATE_LOSE" value="80"/>
		<add key="MONEY_MIN_RATE_WIN" value="120"/>
		<add key="MONEY_MAX_RATE_WIN" value="150"/>
		<add key="EXP_MIN_RATE_LOSE" value="100"/>
		<add key="EXP_MAX_RATE_LOSE" value="150"/>
		<add key="EXP_MIN_RATE_WIN" value="200"/>
		<add key="EXP_MAX_RATE_WIN" value="400"/>
		<add key="GOLDEN_TIME_RATE" value="2"/>
		<!-- Everyday, H:i:s -->
		<add key="GOLDEN_TIME_BEGIN" value="12:00:00|19:00:00"/>
		<!-- Everyday, H:i:s -->
		<add key="GOLDEN_TIME_END" value="13:00:00|20:00:00"/>
		<!-- Everyday, H:i:s -->
		<add key="SUPER_GOLDEN_TIME_BEGIN" value="19:00:00"/>
		<!-- Everyday, H:i:s -->
		<add key="SUPER_GOLDEN_TIME_END" value="21:00:00"/>
		<!-- sunday = 0, saturday = 6 -->
		<add key="SUPER_GOLDEN_TIME_DATE_OF_WEEK" value="7|0"/>
		<add key="SUPER_GOLDEN_TIME_RATE" value="3"/>
		<!-- Separated = 1, Combined = 2 -->
		<add key="GOLDEN_TIME_COMBINE_MODE" value="1"/>
		<add key="IsSoloBattle" value="false"/>
		<add key="datetime1" value="12:00:00"/>
		<add key="datetime2" value="13:00:00"/>
		<add key="datetime3" value="19:00:00"/>
		<add key="datetime4" value="21:00:00"/>
		<add key="DoubleEvent" value="false"/>
		<add key="Logconfig" value="logconfig.xml"/>
		<add key="LanguagePath" value="Languages\Language-vn.txt"/>
		<add key="conString" value="Data Source=(local);Initial Catalog=Db_Tank41_GunGaS5;Persist Security Info=True;User ID=sa;Password=Abc@1234"/>
		<add key="crosszoneString" value="Data Source=(local);Initial Catalog=Db_Tank_GunGaS5;Persist Security Info=True;User ID=sa;Password=Abc@1234"/>
		<add key="ServerID" value="4"/>
		<add key="GameType" value="1"/>
		<add key="AreaID" value="1001"/>
		<add key="LogPath" value="RecordLog"/>
		<add key="ScriptCompilationTarget" value=".\GameServerScripts.dll"/>
		<add key="ScriptAssemblies" value="Game.Base.dll,Game.Logic.dll,SqlDataProvider.dll,Bussiness.dll,System.Drawing.dll"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ClientRoleProvider">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
